<h2>DESCRIPTION</h2>

<em>r.stream.carve</em> carves through man made structures in stream 
networks (e.g. culverts, bridges and similar) that are often present in LiDAR 
DEMs along the user-defined lines.
<p>
The module is written to handle results from the <em>r.stream.culvert</em> module. 
The procedure works as follows:
<ol>
<li>Altitude is extracted at the vertices of the input lines and lines are 
converted to 3D.</li>
<li>Points are interpolated between start and end points along the lines with a 
distance that corresponds to the resolution of the DEM provided in the 
<b>elevation</b> option. Thus, lines provided as <b>input</b> should have not 
more than two vertices, the start and end node.</li>
<li>Z-coordinate of the resulting points is converted to raster and the the 
input DEM (<b>elevation</b>) is modified where its altitude exceeds the altitude 
interpolated altitude along the input lines.</li>
</ol>

<h2>EXAMPLE</h2>
TBD

<h2>SEE ALSO</h2>

<em>
<a href="r.stream.culvert.html">r.stream.culvert</a>
<a href="v.drape.html">v.drape</a>
<a href="v.to.points.html">v.to.points</a>
<a href="v.to.rast.html">v.to.rast</a>
<a href="r.neighbors.html">r.neighbors</a>
<a href="r.mapcalc.html">r.mapcalc</a>
</em>

<h2>AUTHORS</h2>

Stefan Blumentrath, Norwegian Institute for Nature Research (<a href="https://www.nina.no/">NINA</a>), Oslo, Norway<br>
Written for the INVAFISH project (RCN MILJ&Oslash;FORSK grant 243910)
